*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    /* border: 1px solid red; */
}

body {
    background-color: #fff;
    color: grey;
    font-family: 'Droid Sans', sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    padding-left: 0;
}

li {
    list-style-type: none;
}

h3 {
    text-transform: uppercase;
}



#activites h3 {
    color: #e15200;
}

.container {
    max-width: 1200px;
    margin: auto;
}

.d-flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.justify-content-between {
    justify-content: space-between;
}

.m-top-bot {
    margin: 2em 0;
}

.p-top-bot {
    padding: 2.5em 0;
}

.b-grey {
    border: 1px solid lightgray;
}

/* Header */

#header, #contact, #slogan {
    background-image: url("/img/grille.png");
    background-repeat: repeat;
}

#header {
    align-items: center;
}

#navbar h3 {
    font-family: 'Oswald', serif;
    font-size: 1em;
    font-weight: 500;
    padding-bottom: 7px;
    margin-bottom: 7px;
}

.nav-list {
    margin-left: 2.5em;
}

.nav-item {
    font-size: 0.6em;
    padding: 5px 0;
}

.border-bottom {
    border-bottom: 4px solid;
}

.border-orange {
    border-color: #e15200;
}

.border-yellow {
    border-color: #fcd04a;
}

.border-green {
    border-color: #b9d482;
}

.border-blue {
    border-color: #3d92c2;
}

.border-purple {
    border-color: #c078d0;
}

/* Main */
/* Video */

#video {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.8em auto;
}

/* Slogan */
#slogan {
    text-align: center;
    font-size: 22px;
    font-family: 'Droid Serif';
    font-style: italic;
    padding: 2em 0;
    border-top: 1px solid #d0d0d0;
    border-bottom: 1px solid lightgrey;
}

/* Activities */

#activites {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 2em;
    margin-top: 2em;
    margin-bottom: 3em;
}

#activites h3 {
    font-family: 'Oswald', serif;
    font-weight: 400;
    margin-bottom: 10px;
}

#activites p {
    font-size: 0.8em;
    line-height: 1.5em;
}

.article-bloc-1 {
    grid-column: 1;
    padding: 10px;
}

.article-bloc-1 img {
    display: block;
    margin: 1.2em auto;
}

.article-bloc-2 {
    grid-column: 2;
}

.article-bloc-3 {
    grid-column: 3 / 5;
    grid-row: 1;
}

.article-bloc-4 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
    row-gap: 10px;
}

.article-img {
    width: 100%;
    padding: 10px;
    border: 1px solid lightgray;
}

.article-date {
    font-size: 0.8em;
    font-style: italic;
    font-family: 'Droid Serif', serif;
    color: lightgrey;
    margin-bottom: 10px;
}

/* Contact */

#contact {
    padding: 1em 0;
    margin: 1em 0;
    border: 1px solid lightgrey;
}

#contact h3 {
    font-size: 1em;
    font-family: 'Oswald', serif;
    font-weight: 400;
    margin-bottom: 10px;
}

#contact h4 {
    font-size: 0.9em;
    margin-bottom: 1em;
}

#contact p {
    font-size: 0.8em;
}

.contact-block {
    width: 20%;
}

.contact-item {
    display: flex;
    align-items: center;
}

/* Footer */
#footer {
    margin-bottom: 2em;
}